{
  "importOrder": [
    "^@axelarjs/",
    "^react",
    "^next",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[~/]",
    "^[./]",
    "",
    ".css$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
